<!--<div>
  <div class="row">
    <span>Advokatfirman Peter Wanhainen AB</span>
  </div>

  <div class="row">
    <div class="col-2"><a routerLink="" routerLinkActive="active">Start</a></div>
    <div class="col-2"><a routerLink="associates" routerLinkActive="active">Medarbetare</a></div>
    <div class="col-2"><a routerLink="collaborators" routerLinkActive="active">Samarbete</a></div>
    <div class="col-2"><a routerLink="contact" routerLinkActive="active">Kontakt</a></div>
  </div>
<hr>
</div>-->

<span style="font-family: Georgia, sans-serif ">Advokatfirman Peter Wanhainen AB</span>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand">
        <!--<img src="assets/img/ngx-bootstrap.svg" class="logo">-->
      <!--</a>
      <span class="navbar-brand">Advokatfirman Peter Wanhainen AB</span>
    </div>-->
    <!--<ul class="nav navbar-nav">
      <li class="active"><a routerLink="" routerLinkActive="active">Start</a></li>
      <li><a routerLink="contact" routerLinkActive="active">Kontakt</a></li>
      <li class="dropdown" dropdown>
        <a dropdownToggle role="button">
          Medarbetare<span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a routerLink="associates" routerLinkActive="active">Peter Wanhainen</a></li>
          <li><a routerLink="associates" routerLinkActive="active">Kristina Wanhainen</a></li>

        </ul>
      </li>
    </ul>-->
    <a routerLink="" routerLinkActive="active">Start</a>
    <a routerLink="verksamhetsomraden" routerLinkActive="active">Verksamhetsområden</a>

    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Medarbetare</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item"><a routerLink="medarbetare" routerLinkActive="active">Peter Wanhainen</a></button>
        <button class="dropdown-item"><a routerLink="medarbetare" routerLinkActive="active">Kristina Wanhainen</a></button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic2" ngbDropdownToggle>Samarbeten</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button class="dropdown-item"><a routerLink="samarbeten" routerLinkActive="active">Åke Broné</a></button>
      </div>
    </div>

    <a routerLink="kontakt" routerLinkActive="active">Kontakta oss</a>

  </div>
</nav>




<hr>
<!--<button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Button with tooltip
</button>-->
