<p>
  Peter Wanhainen tog jur.kand examen 1974. Han fullgjorde tingsmeritering vid Oskarshamns tingsrätt och arbetade därefter som biträdande jurist vid Stureplans advokatbyrå AB fram till 1981. Arbetade därefter tillsammans med advokat Christer Magnergård till 1996. Har därefter samarbetat och haft kontorsgemenskap med advokat Åke Broné.
  Ingick i Stockholmavdelningens styrelse under delar av åttiotalet och ingick även i advokatsamfundets fullmäktige ungefär vid samma tidpunkt.
  Har utöver Åke Broné haft kontorsgemenskap med Göran Walander, Charlie Tvärenvigg och numera samarbete med advokat Roba Assam. Kristina Wanhainen är sedan 2011 anställd som vid advokatbyrån.
</p>
