<div class="container" style="margin-top: 40px">

  <div class="media" style="margin-top:10px">
    <img class="mr-3" src="../assets/img/peter.jpg" width="250" alt="Peter Wanhainen">
    <div class="media-body">
      <h5 class="mt-0">Advokat Peter Wanhainen</h5>
      Peter Wanhainen tog jur.kand examen 1974. Han fullgjorde tingsmeritering vid Oskarshamns tingsrätt och arbetade därefter som biträdande jurist vid Stureplans advokatbyrå AB fram till 1981. Arbetade därefter tillsammans med advokat Christer Magnergård till 1996. Har därefter samarbetat och haft kontorsgemenskap med advokat Åke Broné.
      Ingick i Stockholmavdelningens styrelse under delar av åttiotalet och ingick även i advokatsamfundets fullmäktige ungefär vid samma tidpunkt.
      Har utöver Åke Broné haft kontorsgemenskap med Göran Walander, Charlie Tvärenvigg och numera samarbete med advokat Roba Assam. Kristina Wanhainen är sedan 2011 anställd som vid advokatbyrån.
    </div>
  </div>


  <div class="media" style="margin-top:10px">
    <img class="mr-3" src="../assets/img/kristina.jpg" width="250" alt="Kristina Wanhainen">
    <div class="media-body">
      <h5 class="mt-0">Advokat Kristina Wanhainen</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
      nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
      tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
      tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
      lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
      pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
      euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
      nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
      pulvinar purus a lobortis.
    </div>
  </div>

  <div class="media" style="margin-top:10px">
    <img class="mr-3" src="../assets/img/linda.jpg" width="250" alt="Linda Jansson">
    <div class="media-body">
      <h5 class="mt-0">Sekreterare Linda Jansson</h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
      nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
      tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
      tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
      lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
      pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
      euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
      nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
      pulvinar purus a lobortis.
    </div>
  </div>

</div>
